@model List<ShowBill.Models.EventModels.EventListItemViewModel>

@namespace ShowBill.Data
@{
    var popular = Model.Take(5).ToList();
}
<div class="jumbotron">
    <div id="mainEvents" class="carousel slide" data-ride="carousel" data-interval="6000">
        <ol class="carousel-indicators">
            @for (int i = 0; i < popular.Count(); i++)
            {
                @if (i == 0)
                {
                    <li data-target="#mainEvents" data-slide-to="0" class="active"></li>
                }
                else
                {
                    <li data-target="#mainEvents" data-slide-to="@i"></li>
                }
            }
        </ol>
        <div class="carousel-inner" role="listbox">
            @for (int j = 0; j < popular.Count(); j++)
            {
                @if (j == 0)
                {
                    <div class="item active">
                        <img src="@popular[j].Photo" alt="Microsoft Azure" class="img-responsive" />
                        <div class="carousel-caption" role="option">
                            <p>
                                @popular[j].Title
                                <a class="btn btn-default" asp-controller="Events" asp-action="Details" asp-route-id=@popular[j].Id>
                                    Learn More
                                </a>
                            </p>
                        </div>
                    </div>
                }
                else
                {
                    <div class="item">
                        <img src="@popular[j].Photo" alt="Microsoft Azure" class="img-responsive" />
                        <div class="carousel-caption" role="option">
                            <p>
                                @popular[j].Title
                                <a class="btn btn-default" asp-controller="Events" asp-action="Details" asp-route-id=@popular[j].Id>
                                    Learn More
                                </a>
                            </p>
                        </div>
                    </div>
                }
            }
        </div>
        <a class="left carousel-control" href="#mainEvents" role="button" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="right carousel-control" href="#mainEvents" role="button" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>
    @Html.Partial("EventList", Model)
</div>

